body {
    height: 100vh;
}
#container{
    display: flex;
    justify-content: center;
}
#grid {
    
    border: black;
    border-width: thin;
    border-style: solid;
    display: grid;
   
    grid-template-columns: repeat(var(--grid-template-columns),1fr);
    grid-template-rows: repeat(var(--grid-template-rows,1fr));
    width: 600px;
    height: 600px;

}

#title {
    display: flex;
    justify-content: center;
}

#GUI {
    display: flex;
    justify-content: space-evenly;
    padding: 18px;

}

.cell {
   padding: 5px;
   border: 1px solid black;
 
    
   
}

.new-cell {
    padding: 5px;
    border: 1px solid black;

}
